# Bootstrap framework (too large for git)
bootstrap-5.3.8/

# System files and directories
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/

# User profile files
NTUSER.DAT*
ntuser.dat*
ntuser.ini
desktop.ini

# Development tools and caches
.VirtualBox/
.anaconda/
.android/
.bash_history
.cache/
.cisco/
.conda/
.condarc
.continuum/
.cursor/
.emulator_console_auth_token
.gitconfig
.gradle/
.idlerc/
.ipython/
.javacpp/
.jupyter/
.lunarclient/
.matplotlib/
.node_repl_history
.viminfo
.vscode/

# System directories
AndroidStudioProjects/
AppData/
Contacts/
Documents/
Downloads/
Favorites/
Links/
Music/
Pictures/
Saved Games/
Searches/
Videos/
VirtualBox VMs/

# Other projects and files
cs386-a2-2/
curseforge/
localhost
postgresql_18.exe
java_error_in_studio_*.log

# OneDrive files outside project
OneDrive/

# Temporary files
-1.14-windows.xml